body {
    background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 44%,
    rgba(59, 240, 26, 0.4290091036414566) 100%
  );
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    color: #333333;
    transition: transform 0.3s ease-in-out;
}

.login-container:hover {
    transform: scale(1.03);
}

.login-heading {
    color: #4caf50;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    color: #333333;
    margin-bottom: 8px;
    text-align: left; 
}

.form-input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f8f8f8;
    color: #333333;
    transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.form-input:focus {
    border-color: #4caf50;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: #ff5555;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-button,
.signup-button {
    padding: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out, box-shadow 0.3s;
}

.login-button:hover,
.signup-button:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.login-button {
    background-color: #4caf50;
    color: #ffffff;
}

.signup-button {
    background-color: #2196f3;
}
