/* .custom-border {
  border-bottom: 2px solid rgb(1, 0, 0);

  /* You can change 'red' to any color you prefer 
}

.nav-item:hover {
  background-color: rgb(79, 195, 189);
  /* Change this color to your preference 
}*/
.container {
  margin-top: 140px;
  border-radius: 20px;
  width: 410px;
  background: hsla(187, 83%, 65%, 1);
  background: linear-gradient(90deg, hsla(187, 83%, 65%, 1) 0%, hsla(301, 84%, 81%, 1) 50%, hsla(347, 75%, 61%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(187, 83%, 65%, 1) 0%, hsla(301, 84%, 81%, 1) 50%, hsla(347, 75%, 61%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(187, 83%, 65%, 1) 0%, hsla(301, 84%, 81%, 1) 50%, hsla(347, 75%, 61%, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5de0f0", endColorstr="#f7a6f5", GradientType=1);
  height: 550px;
}
.card1 {
  width: 370px;
  border-radius: 15px;
  height: 350px;
  margin-left: 8px;
}
.vish {
  width: 60px;
  height: 60px;
  position: relative;
  top: 15%;


}

.class1 {

  width: 200px;
  margin-left: 80px;
}

.class2 {

  margin-left: 80px;
  color: white;
  margin-right: 170px;

}